.form-component{
    margin-left: 20%;
    padding: 20px 10px;
}
.fg{
    margin-bottom: 5px;
}
.landing-title{
    margin: 10px 0px 20px 0px;
}
.nav-title{
    margin-left: 20px;
}
.logout{
    margin-right: 20px;
}